{% extends 'registration/base.html' %} {% block content %}
<section>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'current' %}">Current</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'history' %}">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Create new budget</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-centered">
                <h1 class="mt-5 mb-3">Automated budget main page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-centered mt-3">
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}