{% extends 'budgets/base.html' %} {% block content %}
<section>
    <div class="container-fluid">
        <form id="main-form" class="form-horizontal" action="" method="POST" >
            {% csrf_token %}
            <div>
                {{ form }}
            </div>
            <div id="expFormMetadata">
                {{ expenseFormset.management_form }}
            </div>
            <div class="expForm">
                {% for expForm in expenseFormset %}
                <div class="row exp-form" id="exp">
                    {{ expForm }}
                    <button class="btn btn-danger remove-exp-form " >-</button>
                </div>
                {% endfor %}
            </div>
            <button id="add-exp-form" class="btn btn-success">Add new expense.</button>
            <div id="condFormMetadata">
                {{ conditionFormset.management_form }}
            </div>
            <div class="condForm">
                {% for condForm in conditionFormset %}
                <div class="row cond-form" id="cond">
                    {{ condForm }}
                    <button class="btn btn-danger remove-cond-form" >-</button>
                </div>
                {% endfor %}
            </div>
            <button id="add-cond-form" class="btn btn-success">Add new condition.</button>
            <button type="submit" class="btn btn-block btn-primary">Create</button>
        </form>
    </div>

</section>
{% load static %}
<script src="{% static 'buttons.js' %}" type="text/javascript"></script>
{% endblock %}