{% extends 'budgets/base.html' %} {% block content %}
<div id="creation_date" hidden="true">
    {{ budget.creation_date }}
</div>
<div id="type" hidden="true">
    {{ budget.type }}
</div>
<div id="base_line_annotation" hidden="true">
    {{ budget.annotation }}
</div>
<section>
    <div class="container-fluid">
        <div class="col-4">
            <div class="row budget-header">
                {{ budget.type }}
            </div>
            <div class="row">
                Created by: {{ budget.owner }} at {{ budget.creation_date }}
            </div>
            {% for expense in budget.expenses.all %}
            <div class="row">
                <div>
                    {{ expense.category }}: {{ expense.sum }} 
                </div>
                <div>
                    <div class="exp-id" hidden="true">
                        {{ expense.id }}
                    </div>
                    <input class="spent-input" type="number" placeholder="{{ expense.spent_sum }}">
                    <button class="btn btn-success update-expense-button">Add</button>
                </div>
             </div>
            {% endfor %}
        </div>
    </div>
</section>
{% load static %}
<script src="{% static 'presentation.js' %}" type="text/javascript"></script>
<script src="{% static 'notifications.js' %}" type="text/javascript"></script>
<script src="{% static 'expensetracking.js' %}" type="text/javascript"></script>
<script src="{% static 'creditsuggestion.js' %}" type="text/javascript"></script>
{% endblock %}
