{% extends 'budgets/base.html' %} {% block content %}
<div id="creation_date" hidden="true">
    {{ budget.creation_date }}
</div>
<div id="type" hidden="true">
    {{ budget.type }}
</div>
<div id="expenseUpdateURL" hidden="true">{% url 'updateExpense' %}</div>
<div id="base_line_annotation" hidden="true">
    {{ budget.annotation }}
</div>
<section>
    {% csrf_token %}
    <div class="container-fluid">
        <div id="budget-container" class="col-4">
            <div class="row budget-header">
                {{ budget.type }}
            </div>
            <div class="row">
                Created by: {{ budget.owner }} at {{ budget.creation_date }}
            </div>
            {% for expense in budget.expenses.all %}
            <div class="row">
                <div>
                    {{ expense.category }}: {{ expense.sum }} 
                </div>
                <div id="{{ forloop.counter }}">
                    <div id="exp-id-{{ forloop.counter }}" hidden="true">{{ expense.id }}</div>
                    <div id="usr-id-{{ forloop.counter }}" hidden="true">{{ request.user.id }}</div>
                    <input id="spent-input-{{ forloop.counter }}" type="number" placeholder="{{ expense.spent_sum }}">
                    <button class="btn btn-success update-expense">Add</button>
                </div>
             </div>
            {% endfor %}
        </div>
    </div>
</section>
{% load static %}
<script src="{% static 'notifications.js' %}" type="text/javascript"></script>
<script src="{% static 'presentation.js' %}" type="text/javascript"></script>
<script src="{% static 'expensetracking.js' %}" type="text/javascript"></script>
<script src="{% static 'creditsuggestions.js' %}" type="text/javascript"></script>
{% endblock %}
