{% extends 'registration/base.html' %} {% block content %}
<!-- due to lack of navbar -->
<section>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        Welcome to AutomatedBudget!
    </div>
</section>
{% endblock %}